{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Instagram Analyzer">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/fonts/feather/feather.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/flatpickr/dist/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/quill/dist/quill.core.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/highlight.js/styles/vs2015.css' %}">

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/theme.min.css' %}" id="stylesheetLight">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/theme-dark.min.css' %}" id="stylesheetDark">

    <style>body { display: none; }</style>
    

    <title>Instagram Analyzer</title>
  </head>
  <body>

    <!-- NAVIGATION
    ================================================== -->
      
        <nav class="navbar navbar-vertical fixed-left navbar-expand-md " id="sidebar">
          <div class="container-fluid">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand font-italic pb-0" href="index.html">Instagram Analyzer</a>
            <small class="text-center font-italic pb-3">Ver. 1.0</small>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
      
              <!-- Navigation -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#sidebarDashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarDashboards">
                    <i class="fe fe-user"></i>アカウント情報一覧
                  </a>
                  <div class="collapse show" id="sidebarDashboards">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="index.html" class="nav-link active">
                          フォロワー数
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="dashboard-alt.html" class="nav-link ">
                          フォロー数
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>

              <!-- Divider -->
              <hr class="navbar-divider my-3">
              
              <!-- Customize -->
              <a href="#modalDemo" class="btn btn-block btn-light mb-4">
                <i class="fe fe-power mr-2"></i>ログアウト
              </a>
              
            </div> <!-- / .navbar-collapse -->

          </div>
        </nav>
      
        <nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md d-none" id="sidebarSmall">
        </nav>
        <nav class="navbar navbar-expand-lg d-none" id="topnav">
        </nav>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      
      <!-- CARDS -->
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-12 col-xl-12">
            
            <!-- Goals -->
            <div class="card">
              <div class="card-header">

    <div class="row align-items-center">
      <div class="col">
        <div class="h2 my-2 header-title d-inline-block">アカウント情報一覧</div>
        <div class="alert alert-secondary mx-2 my-0 p-2 d-inline-block" role="alert">フォロワー数</div>
      </div>
      <div class="col-auto">
        <a href="#" class="btn btn-info mr-5 my-2"><span class="fe fe-activity mr-2"></span>フォロー数に切り替え</a>
        <a href="#" class="btn btn-primary my-2"><span class="fe fe-user-plus mr-2"></span>アカウント追加</a>
      </div>
    </div>


              </div>
              <div class="table-responsive mb-0" data-toggle="lists" data-options='{"valueNames": ["goal-project", "goal-status", "goal-progress", "goal-date"]}'>
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <th><a href="#" class="text-muted sort" data-sort="goal-project">No.</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-status">アカウント</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-progress">今月</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">本日</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">1日前</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">2日前</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">3日前</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">4日前</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">5日前</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">6日前</a></th>
                      <th><a href="#" class="text-muted sort" data-sort="goal-date">7日前</a></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="account align-middle text-right">1</td>
                      <td class="account text-left">
                          <a href="profile-posts.html">
                            <div class="avatar avatar-sm">
                              <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9b192725e2222a76c593c8e6e964c5bf/5E1CCBCF/t51.2885-19/s150x150/27579345_1431310310331743_8922265954340044800_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" class="avatar-img rounded-circle mr-2" alt="...">
                            </div>
                            <span>kirin_brewery</span>
                          </a>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-danger">-1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      </td>
                    </tr>
                    <tr>
                      <td class="account align-middle text-right">2</td>
                      <td class="account text-left">
                          <a href="profile-posts.html">
                            <div class="avatar avatar-sm">
                              <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9b192725e2222a76c593c8e6e964c5bf/5E1CCBCF/t51.2885-19/s150x150/27579345_1431310310331743_8922265954340044800_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" class="avatar-img rounded-circle mr-2" alt="...">
                            </div>
                            <span>kirin_brewery</span>
                          </a>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-danger">-1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      </td>
                    </tr>
                    <tr>
                      <td class="account align-middle text-right">3</td>
                      <td class="account text-left">
                          <a href="profile-posts.html">
                            <div class="avatar avatar-sm">
                              <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9b192725e2222a76c593c8e6e964c5bf/5E1CCBCF/t51.2885-19/s150x150/27579345_1431310310331743_8922265954340044800_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" class="avatar-img rounded-circle mr-2" alt="...">
                            </div>
                            <span>kirin_brewery</span>
                          </a>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-danger">-1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      </td>
                    </tr>
                    <tr>
                      <td class="account align-middle text-right">4</td>
                      <td class="account text-left">
                          <a href="profile-posts.html">
                            <div class="avatar avatar-sm">
                              <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9b192725e2222a76c593c8e6e964c5bf/5E1CCBCF/t51.2885-19/s150x150/27579345_1431310310331743_8922265954340044800_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" class="avatar-img rounded-circle mr-2" alt="...">
                            </div>
                            <span>kirin_brewery</span>
                          </a>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-danger">-1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      </td>
                    </tr>
                    <tr>
                      <td class="account align-middle text-right">5</td>
                      <td class="account text-left">
                          <a href="profile-posts.html">
                            <div class="avatar avatar-sm">
                              <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9b192725e2222a76c593c8e6e964c5bf/5E1CCBCF/t51.2885-19/s150x150/27579345_1431310310331743_8922265954340044800_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" class="avatar-img rounded-circle mr-2" alt="...">
                            </div>
                            <span>kirin_brewery</span>
                          </a>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-danger">-1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      </td>
                    </tr>
                    <tr>
                      <td class="account align-middle text-right">6</td>
                      <td class="account text-left">
                          <a href="profile-posts.html">
                            <div class="avatar avatar-sm">
                              <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9b192725e2222a76c593c8e6e964c5bf/5E1CCBCF/t51.2885-19/s150x150/27579345_1431310310331743_8922265954340044800_n.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" class="avatar-img rounded-circle mr-2" alt="...">
                            </div>
                            <span>kirin_brewery</span>
                          </a>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-danger">-1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      <td class="account-count">
                        <span class="d-block">1000</span>
                        <span class="d-block text-primary">1000</span>
                      </td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static 'dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/@shopify/draggable/lib/es5/draggable.bundle.legacy.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/highlightjs/highlight.pack.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/list.js/dist/list.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/chart.js/Chart.extension.min.js' %}"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="{% static 'dashboard/assets/js/theme.min.js' %}"></script>

  </body>
</html>
