{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Instagram Analyzer">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/fonts/feather/feather.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/flatpickr/dist/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/quill/dist/quill.core.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/highlight.js/styles/vs2015.css' %}">

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/theme.min.css' %}" id="stylesheetLight">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/theme-dark.min.css' %}" id="stylesheetDark">

    <style>body { display: none; }</style>
    

    <title>Instagram Analyzer</title>
  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-3">
            <h1 class="display-6 text-center font-italic text-muted mb-5">
                <span class="d-block">Instagram Analyzer</span>
                <small class="text-center font-italic pb-3">Ver. 1.0</small>
            </h1>
          
          <!-- Form -->
          <form method="post">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {% if field == 'username' %}
                    <p class="alert alert-danger"><h4 class="alert-heading">ログインID</h4>{{ error }}</p>
                    {% endif %}
                    {% if field == 'password' %}
                    <p class="alert alert-danger"><h4 class="alert-heading">パスワード</h4>{{ error }}</p>
                    {% else %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <!-- Login ID -->
            <div class="form-group">

              <!-- Label -->
              <label>ログインID</label>

              <!-- Input -->
              {{ form.username|add_class:'form-control'|append_attr:'placeholder:ログインIDを入力します。' }}
            </div>

            <!-- Password -->
            <div class="form-group">

              <div class="row">
                <div class="col">
                      
                  <!-- Label -->
                  <label>パスワード</label>

                </div>
              </div> <!-- / .row -->

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                {{ form.password|add_class:'form-control form-control-appended'|append_attr:'placeholder:パスワードを入力します。' }}<br>

                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fe fe-eye"></i>
                  </span>
                </div>

              </div>
            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              ログイン
            </button>
            {% csrf_token %}
          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static 'dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/@shopify/draggable/lib/es5/draggable.bundle.legacy.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/highlightjs/highlight.pack.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/list.js/dist/list.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/chart.js/Chart.extension.min.js' %}"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="{% static 'dashboard/assets/js/theme.min.js' %}"></script>

    <script>
    (function(){
        $('#id_username').focus().get(0).setSelectionRange(1000,1000);
    })();
    </script>

  </body>
</html>
